@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   background-color: #110b00;
}

.header {
   padding: 40px;
   box-shadow: inset 7px -22px 39px 11px rgba(0, 0, 0, 0.58);
   border-bottom: 2px solid #282827;
   background-image: url('./image/banner.webp');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.logo {
   height: 100px;
   width: 200px;
   margin: 0 auto;
}

.logo img {
   max-width: 100%;
}

.cards-wrapper {
   height: 100%;
   padding-top: 20px;
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   align-items: top;
   justify-content: center;
}

.loading {
   height: 40%;
   width: 40%;
   color: #fffdf7;
   font-size: 30px;
   font-weight: 500;
   text-align: center;
   display: flex;
   flex-direction: column;
}

.loading img {
   max-width: 100%;
   animation: pulse 2s infinite;
}

.card {
   background-color: #fffdf7;
   border-radius: 6px;
   max-width: 800px;
   height: 340px;
   padding: 20px;
}

.film-name {
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 30px;
}

.film-description {
   min-height: 120px;
}

.characters {
   display: inline-block;
   font-weight: 700;
   margin-bottom: 10px;
}

.char-list {
   font-size: 13px;
   line-height: 1.7;
   margin-bottom: 10px;
}
.char-list span {
   display: block;
   border-radius: 2px;
   height: 10px;
   margin-bottom: 5px;
   margin-top: 10px;
   background: linear-gradient(120deg, #eeeace 30%, #f6f6f6 38%, #f6f6f6 40%, #eeeace 48%);
   background-position: 100% 0;
   background-size: 200% 100%;
   animation: load 2s infinite;
}

.char-list span:nth-child(1) {
   width: 98%;
}

.char-list span:nth-child(3) {
   width: 95%;
}

.char-list span:last-child {
   width: 85%;
}

@keyframes load {
   100% {
      background-position: -100% 0;
   }
}

@keyframes pulse {
   from {
      transform: scale(0.85);
   }
   50% {
      transform: scale(1);
   }
   to {
      transform: scale(0.85);
   }
}
